<section class="container-lg container-fluid pt-5">
    <h2 *ngIf="title" class="text-center pb-4">{{title}}</h2>

    <div *ngIf="isLoading">
        <p>Mostrar Spinner</p>
    </div>

    <div *ngIf="!isLoading && requestError">
        <p>Error en la llamada al microservicio</p>
    </div>

    <div *ngIf="!isLoading && !requestError" class="row">
        <app-company-card *ngFor = "let companyData of companiesData" [companydata] = "companyData" class="col-xs-12 col-md-6 col-xl-4"></app-company-card>
    </div>
</section>